<section class="carousel">
    <h2>Action Plans</h2>
    <div class="reel">
        <article>
            <a href="#" class="image featured">
                <img src="https://images.unsplash.com/photo-1504941319307-771ebfa02a51?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=be59409b73a1e96c57c94b88a8379ee9&auto=format&fit=crop&w=2387&q=80"
                    alt="" />
            </a>
            <header>
                <h3>
                    <a href="#">Smart Machinery</a>
                </h3>
            </header>
            <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
        </article>

        <article>
            <a href="#" class="image featured">
                <img src="https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=863ffeea823f0ffb0885fe1a5e77e645&auto=format&fit=crop&w=2100&q=80"
                    alt="" />
            </a>
            <header>
                <h3>
                    <a href="#">Asia-Silicon Valley</a>
                </h3>
            </header>
            <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
        </article>

        <article>
            <a href="#" class="image featured">
                <img src="https://images.unsplash.com/photo-1486825586573-7131f7991bdd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dfedacaf795b8872cd3a2d32fe93fb1c&auto=format&fit=crop&w=934&q=80"
                    alt="" />
            </a>
            <header>
                <h3>
                    <a href="#">Biomedical Industry</a>
                </h3>
            </header>
            <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
        </article>

        <article>
            <a href="#" class="image featured">
                <img src="https://images.unsplash.com/photo-1497435334941-8c899ee9e8e9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4c2cf9ac819484c8b5cb3b20d30c54f&auto=format&fit=crop&w=1868&q=80"
                    alt="" />
            </a>
            <header>
                <h3>
                    <a href="#">Renewable Energy</a>
                </h3>
            </header>
            <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
        </article>

        <article>
            <a href="#" class="image featured">
                <img src="https://images.unsplash.com/photo-1502116068635-22e531cde63e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a0b13da2f53f2f8e751be62882483102&auto=format&fit=crop&w=2104&q=80"
                    alt="" />
            </a>
            <header>
                <h3>
                    <a href="#">Defense Industry</a>
                </h3>
            </header>
            <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
        </article>

        <article>
            <a href="#" class="image featured">
                <img src="https://images.unsplash.com/photo-1499529112087-3cb3b73cec95?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6e7506b5ad4fb1dbf86f2d5df3b4cfd1&auto=format&fit=crop&w=1867&q=80"
                    alt="" />
            </a>
            <header>
                <h3>
                    <a href="#">New Agriculture</a>
                </h3>
            </header>
            <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
        </article>

        <article>
            <a href="#" class="image featured">
                <img src="https://images.unsplash.com/photo-1501772529219-ed0014f5032c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dab1f9068d2b059a79cfdc65b2731dd&auto=format&fit=crop&w=3334&q=80"
                    alt="" />
            </a>
            <header>
                <h3>
                    <a href="#">Circular Economy</a>
                </h3>
            </header>
            <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
        </article>

    </div>
</section>

<style>
    article a {
        height: 200px;
        overflow: hidden;
    }

    .carousel {
        text-align: center;
        padding: 4.5em 0 4.5em 0;
    }

    .carousel h2 {
        margin-bottom: 50px;
    }
</style>