
<section id="events" class="carousel">
    <h2>
        <strong>EVENTS</strong>
    </h2>
    <div class="reel">
        {% assign events = (site.events | sort: 'date') | reverse %}
        {% for post in events %}
        <article>
            <a href="{{post.permalink}}" class="image featured">
                <img src="{{post.image}}" alt="" />
            </a>
            <p class="date">{{post.date | date: '%B %d, %Y' }}</p>
            <header>
                <h3>
                    <a href="{{post.permalink}}">{{post.title}}</a>
                </h3>
            </header>
            <p>{{post.summary}}</p>
        </article>
        {% endfor %}
    </div>
</section>
