<div id="header">
    <!-- Inner -->
        <div class="inner">
            <header>
                <h1><a href="index.html" id="logo"><strong>AI</strong> Taiwan</a></h1>
                
                <hr />
                <p>Innovation, Collaboration and Inspiration</p>
            </header>
            <footer>
                <a href="#vision" class="button circled scrolly">Start</a>
            </footer>
        </div>

    <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="#vision" class="scrolly">Vision</a></li>
                <li><a href="#banner" class="scrolly">Strategy</a></li>
                <li><a href="#actionplan" class="scrolly">Action Plan</a></li>
            </ul>
        </nav>

</div>