<!-- Inner -->
<div class="inner">
    <header>
        <h1>
            <a href="index.html" id="logo">
                <strong>{{site.data.seo.headline}}</strong>
            </a>
        </h1>

        <hr />
        <p style="color:black;">Where innovation happens.</p>
    </header>
    <footer>
        <a id="start" href="#vision" class="button circled scrolly">Start</a>
    </footer>
</div>

<style>
    #start {
        background: #df5532
    }
    header hr{
        border-bottom-color: #555 !important;
        border-top-color: #555;
    }
</style>
